/**####################################--GERAL--*/
/*       LARGURA MAX GRID 1170PX  DESKTOP    */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --bg-color-menu-dorpdown: #0f1a33;
  --color-primary-menu-dropdown: #20c7dc;
}

body {
  background: #090f1c;
  font-family: sans-serif;
}

.flexRow {
  display: flex;
}

.flexColumn {
  display: flex;
  flex-direction: column;
}

#box_header_01 {
  position: relative;
  width: 10%;
  height: 100px;
}

#box_header_02 {
  position: relative;
  width: 15%;
  height: 100px;
}

#box_header_03 {
  position: relative;
  width: 50%;
  height: 100px;
}

#box_header_04 {
  position: relative;
  width: 15%;
  height: 100px;
}

#box_header_05 {
  position: relative;
  width: 10%;
  height: 100px;
}

/**####################################--HEADER--*/

header {
  background-color: #0f1a33;
  display: flex;
  height: 200px;
  align-items: center;
  justify-content: center;
}

#menuBars {
  position: absolute;
  right: 25px;
  top: 25px;
  width: 80px;
  height: 50px;
  background-image: url("../assets/images/menu_lines.png");
  background-repeat: no-repeat;
  background-size: contain;
}

#graphic {
  position: absolute;
  left: 0;
  top: 10px;
  width: 80px;
  height: 60px;
  background-image: url("../assets/images/graphic.png");
  background-size: contain;
  background-repeat: no-repeat;
}

#conversor {
  position: absolute;
  right: 0;
  top: 50%;
  margin-top: -20px;
  width: 70%;
  height: 60px;
  background-image: url("../assets/images/conversor.png");
  background-size: contain;
  background-repeat: no-repeat;
  cursor: pointer;
}

#moeda {
  width: 45px;
  height: 45px;
  background-image: url("../assets/images/moedaLogo.png");
  background-size: contain;
  background-repeat: no-repeat;
}

#logo {
  margin-top: 1rem;
  width: 100%;
  height: 4rem;
  background-image: url("../assets/images/logo.png");
  background-repeat: no-repeat;
  background-position: center;
  cursor: pointer;
}

#conta {
  margin-top: 2rem;
  font-family: sans-serif;
  text-transform: uppercase;
  color: #fff;
  font-size: 2rem;
  cursor: pointer;
}

#box_header_04 h2 {
  margin-top: -10px;
  margin-left: 15px;
  color: #fff;
  font-size: 5.5rem;
}

#shoppingCar {
  position: absolute;
  left: 0;
  top: 20px;
  width: 70px;
  height: 70px;
  position: absolute;
  right: 85px;
  background-image: url("../assets/images/shoppingCar.png");
  background-size: contain;
  background-repeat: no-repeat;
  cursor: pointer;
}

/**####################################--BANNER PRINCIPAL--*/
#banner_principal {
  margin-top: 2rem;
  background-image: url("../assets/images/banner_principal.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 450px;
}

#divider_neon {
  background-image: url("../assets/images/linha_neon.png");
  background-repeat: no-repeat;
  background-size: auto;
  background-position: center;
  margin-top: 4rem;
  width: 100%;
  height: 30px;
}

/**####################################--GAMES MENU--*/

.container_games_menu {
  width: 100%;
  height: 38rem;
}

#banners_games {
  position: absolute;
  left: 250px;
}

#box_games_01 {
  position: absolute;
  left: -150px;
  margin-top: 4rem;
  width: 450px;
  height: 450px;
  background-image: url("../assets/images/image_menu_rocketLeague.png");
}

#box_games_02 {
  position: absolute;
  left: 140px;
  margin-top: 4rem;
  width: 450px;
  height: 450px;
  background-image: url("../assets/images/image_menu_valorant.png");
}

#box_games_03 {
  position: absolute;
  left: 430px;
  margin-top: 4rem;
  width: 450px;
  height: 450px;
  background-image: url("../assets/images/image_menu_lol.png");
}

#box_games_04 {
  position: absolute;
  left: 720px;
  margin-top: 4rem;
  width: 450px;
  height: 450px;
  background-image: url("../assets/images/image_menu_csgo.png");
}

#box_games_05 {
  position: absolute;
  left: 1010px;
  margin-top: 4rem;
  width: 450px;
  height: 450px;
  background-image: url("../assets/images/image_menu_fortnite.png");
}

/**####################################--Navigation--*/

.menuDropDown ul {
  padding-left: 10%;
  padding-right: 10%;
}

.menuDropDown ul li {
  display: inline-block;
  margin: 0 auto;

  list-style: none;
  padding: 1.2rem;
}

.menuDropDown ul li a {
  color: #fff;
  text-decoration: none;
  font-family: sans-serif;
  font-weight: 400;
  font-size: 2rem;
  cursor: pointer;
}

.menuDropDown ul li img {
  width: 30px;
  height: 30px;
}

.menuDropDown ul li ul {
  position: absolute;
  display: none;
  border-radius: 2rem;
  background: var(--bg-color-menu-dorpdown);
  padding: 20px;
}

.menuDropDown ul li:hover ul {
  display: block;
  width: 250px;
}

.menuDropDown ul li ul li {
  display: flex;
  padding: 5px;
}

.menuDropDown ul li ul li a {
  color: var(--color-primary-menu-dropdown);
  font-size: 0.9rem;
}

.menuDropDown ul li ul li a:hover {
  text-shadow: 2px 2px 5px #20c7dc;
}
/**####################################--GRID SKINS--*/

.grid_skin {
  justify-content: center;
  margin: 5rem 0;
  gap: 10px;
}

.container_skin {
  display: flex;
  align-items: left;
  flex-direction: column;
  width: 15%;
  height: 40vh;
  background-image: url("../assets/images/container_skin.png");
  background-repeat: no-repeat;
  background-size: contain;
}

.container_skin img {
  width: 80%;
  height: 130px;
  margin: 0 auto;
}

.container_skin h2,
.container_skin h3 {
  padding-left: 2rem;
  text-transform: uppercase;
  font-family: sans-serif;
  color: #ffffff;
  text-align: left;
}

.container_skin h2 {
  margin-bottom: 30px;
}

.container_skin h3 {
  margin-top: 2rem;
  font-size: 1rem;
}

.container_skin .price {
  align-items: center;
  bottom: 1rem;
  width: 50%;
}

.container_skin .price img {
  width: 45px;
  height: 45px;
  margin: 30px;
}

.container_skin .price h2 {
  margin-left: -30px;
  margin-top: 25px;
} /**####################################--BODY--*/

footer #logoFooter {
  text-align: center;
  margin: 60px 0;
}

#footerNavigation {
  background-image: url("../assets/images/bg_redes.png");
  background-repeat: no-repeat;
  background-position: bottom center;
  height: 50vh;
  display: flex;
  justify-content: center;
  gap: 50px;
}

#footerNavigation h2 {
  font-family: sans-serif;
  font-weight: 500;
  font-size: 1.5rem;
  color: #ffffff;
  margin-bottom: 15px;
  letter-spacing: 3px;
}

#iconsRedesSociais {
  display: flex;
  justify-content: space-around;
}

/** #################################################### Modal*/

button {
  padding: 0;
  background: rgba(0, 0, 0, 0);
  border: none;
  cursor: pointer;
  font-size: 1rem;
  transition: 0.4s;
}

.modal-container {
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.5);
  position: fixed;
  top: 0px;
  left: 0px;
  z-index: 100;
  display: none;
  justify-content: center;
  align-items: center;
}

.modal-container.mostrar {
  display: flex;
}

@keyframes modal {
  from {
    opacity: 0;
    transform: translate3d(0, -100px, 0);
  }
  to {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}

.mostrar .modal {
  animation: modal 0.4s;
}

.modal {
  max-width: 60%;
  width: 900px;
  background-color: var(--bg-color-menu-dorpdown);
  padding: 30px;
  border-radius: 30px;
}

.modal-tour img {
  height: 500px;
}

.modal-cotacao,
.modal-shoppingCar {
  background: var(--bg-color-menu-dorpdown);
  padding: 20px;
  border-radius: 15px;
}

.modal-cotacao img,
.modal-shoppingCar img {
  width: 1000px;
}

.modalHeader {
  display: flex;
  position: relative;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1rem;
  padding-bottom: 1rem;
}

.modalHeader img {
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  top: -40px;
  width: 450px;
}

.modalHeader button img {
  position: relative;
  top: -80px;
  width: 40px;
}

.modalBody form {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

form div {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  width: 80%;
}

form div input {
  padding: 10px;
  font-size: 1rem;
  font-weight: 600;
  background-color: #375065;
  border-radius: 15px;
  color: #b9c1c9;
}

form input[type="button"] {
  background-color: var(--color-primary-menu-dropdown);
  color: #090f1c;
  width: 200px;
  margin: 0 auto;
}
